---
layout: default
---
 <div class="col-sm-4 col-12 text-sm-right text-center pt-sm-4">
            <a href="./" class="text-decoration-none">
                <img id="home-image" class="rounded-circle"
                    
                        src="./images/avatar.png"
                    
                />
            </a>
        </div>
{{ content }}

<script type="text/javascript">
  // Hack: Replace page-link with "Page Title"
  document.querySelectorAll(".markdown-body a[title]").forEach((a) => {
    a.innerText = a.title;
  });
</script>
